{% extends 'basic.html' %}
   
{% block title %}
ABOUT

{% endblock title %}
{% block body%}
{% load static %} 


<div class=" alert alert-danger border-primary mt-1 ml-3 mr-3" role="alert" style="background-color: yellow;">
<marquee class=""style="color: aqua; background-color: black;"><h1 >AGRICULTURE IS A FUNDAMENTAL SOURCE OF NATIONAL PROSPERITY</h1></marquee></div>

    <img src="{% static 'images/about2.jpg' %}" alt="Norway" style="width:100%;">
    <div class="text-block">
      <h1 class="text-center " style="color: blue;">FARMEASY</h1>
      <b style="color: red;">"Earth is here so kind, that just tickle her with a hoe and she laughs with a harvest" </b>
    </div>
  </div>


  <div class=" alert alert-danger border-dark mt-1 ml-5 mr-5" role="alert" style="background-color: turquoise;">
    <marquee class="text-info" class=""style="color: darkblue; background-color: blue;"><h1 style="color: yellow;"><---MEET THE TEAM BEHIND FARMEASY --></h1></marquee></div>

  



                









        <div class="card-columns p ">
  <div class="card border-success text-center " style="background-color: rgb(223, 245, 97);">
    <br>
    
    <img src="{% static 'images/nithesh.jpg' %}" class="card-img-top rounded-circle" alt="..." style="width: 60%;">
    <div class="card-body">
      <hr>
      <h5 class="card-title " style=" font-family: cursive; color: green;"><b>NITHESH B</b></h5>
      <p class="card-text" ><b style="color: black; ">STUDENT</b></p>
      <p class="card-text" style="color: black; ">Computer Science Engineeing</p>
      <p class=" " style="color: red; "><b>DON BOSCO INSTITUTE OF TECHNOLOGY</b> </p>
    </div>
  </div>
  <div class="card p-3 border-warning text-center" style="background-color: rgb(219, 190, 190);">
    <br>
    <img src="{% static 'images/team3.jpg' %}" class="card-img-top rounded-circle" alt="..." style="width: 60%;">
    <div class="card-body"></div>
    <hr>
    <h5 class="card-title "  style=" font-family: cursive; color: green;"><b>MEGHANA M</b></h5>
    <p class="card-text"><b style="color: black; ">STUDENT</b></p>
    <p class="card-text" style="color: black; ">Computer Science Engineeing</p>
    <p class=" " style="color: red;"><b>SRI VENKATESWARA COLLEGE OF ENGINEERING</b> </p>
  </div>
  <div class="card border-danger text-center"style="background-color: pink;">
    <br>
    <img src="{% static 'images/team.jpg' %}" class="card-img-top rounded-circle" alt="..." style="width: 60%;">
    
    <div class="card-body">
      <hr>
      <h5 class="card-title " style=" font-family: cursive; color: green;"><B>MEGHA GUPTA</B></h5>
      <p class="card-text" style="color: black; "><B>STUDENT</B></p>
      <p class="card-text" style="color: black; ">Computer Science Engineeing</p>
      <p class="card-text "style="color: red;"><b>SRI VENKATESWARA COLLEGE OF ENGINEERING</b> </p>
      
    </div>
  </div>
  <div class="card bg-primary text-white text-center border-dark p-3">
    
    <blockquote class="blockquote mb-0">
      <p class=""style="color: yellow; font-family:cursive;"><b><---FARMEASY'S MOTTO---></b></p>
      <p class=""style="color: black; "><b>"SERVING FARMERS AND SAVING AGRICULTURE"</b></p>
      
    </blockquote>
  </div>

  <div class="card text-center border-primary "style="background-color: aqua;">
    <br>
    <img src="{% static 'images/manj2.jpg' %}"  class="card-img-top rounded-circle" alt="..." style="width: 60%;">
    
    <div class="card-body">
      <hr>
      <h5 class="card-title " style=" font-family: cursive; color: green;"><B>MANJUNATH R S</B></h5>
      <p class="card-text"><B style="color: black; ">STUDENT</B></p>
      <p class="card-text" style="color: black; ">Computer Science Engineeing</p>
      <p class="card-text "style="color: red; "><b>DON BOSCO INSTITUTE OF TECHNOLOGY</b> </p>
    </div>
  </div>

  <div class="card p-3 text-center border-secondary" style="background-color: rgb(109, 184, 235);">
    <br>
    <img src="{% static 'images/team1.jpg' %}" class="card-img-top rounded-circle" alt="..." style="width: 60%;">
    
    <div class="card-body">
    <hr>
    
      <h5 class="card-title " style=" font-family: cursive; color: green;"><B>ROHITH S</B></h5>
      <p class="card-text"><B style="color: black; ">STUDENT</B></p>
      <p class="card-text" style="color: black; ">Computer Science Engineeing</p>
      <p class="card-text " style="color: red; "><b>DON BOSCO INSTITUTE OF TECHNOLOGY</b> </p>
      
      
  </div>
</div>
  <div class="card border-info text-center" style="background-color: rgb(231, 102, 124);">
    <br>
    <img src="{% static 'images/team4.jpg' %}" class="card-img-top rounded-circle" alt="..." style="width: 60%;">
   
    <div class="card-body">
      <hr>
      <h5 class="card-title " style=" font-family: cursive; color: green;"><B>MEGHANA G</B></h5>
      <p class="card-text"><B style="color: black; ">STUDENT</B></p>
      <p class="card-text" style="color: black; ">Computer Science Engineeing</p>
      <p class="card-text " style="color: red; "><b>SRI VENKATESWARA COLLEGE OF ENGINEERING</b> </p>
    </div>
  </div>
</div>































































      <hr>
      <div class="container ml-1">
     <div class="row">
         <div class="col-md-3">
         
             <div class="card card-body border-danger" id="profile-wrapper" style="background-color: goldenrod; ">
              <img src="{% static 'images/farm3.jpg' %}" class="rounded  d-block" alt="...">
              
                 <hr>
                 <h4 class="text-center" style="background-color: aqua; font-family: fantasy;">ABOUT US</h4>
                 <br>
                 <h4 class=""  style=" font-family: fantasy; color: green;"><---FARMEASY---></h4>
                 <p style="color: black;">It is envisaged to make available relevant information and services to the farming community and private sector through the use of information and communication technologies, to supplement the existing delivery channels provided for by the department. </p>
             </div>
         </div>
         
         <div class="col-md-9">
             <div class="card card-body border-info  text-center" style="background-color: goldenrod; "><h1 style="background-color: aqua; font-family: fantasy; color: red;">AGRO-BASED SERVICES</h1>
              <hr>
              <p style="color: black;"><b class=""style="color: blue;">FARMEASY</b> is an endeavour in this direction to create one stop shop for meeting all informational needs relating to Agriculture, Animal Husbandry and Fisheries sectors production, sale/storage of an Indian farmer. With this Indian Farmer will not be required to sift through maze of websites created for specific purposes.
            </p>
            <p style="color: black;">
                Once in the <b class="" style="color: blue;">FARMEASY'S</b> Portal, a farmer will be able to get all relevant information on specific subjects around his village/block /district or state. This information will be delivered in the form of text, SMS, email and audio/video in the language he or she understands. These levels can be easily reached through the Map of India placed on the Home page. Farmers will also be able to ask specific queries as well as give valuable feedback through the Feedback module specially developed for the purpose.
                <p style="color: black;">The Department is responsible for matters relating to livestock production, preservation, protection from diseases and improvement of stocks and dairy development, and also for matters relating to the Milk Scheme and the National Dairy Development Board.</p>
            
            </p>
            <b>Our purpose is to inspire our farmers, growers and industry to succeed in a rapidly changing world</b>.
            </div>
         </div>
     </div>
       <br>
        <div class="row">
         <div class="col-md-6">
             <div class="card card-body border-success text-center " style="background-color: goldenrod; ">
                 <h1 style="background-color: aqua;font-family: fantasy; color: darkblue;">SERVICES OFFERED</h1>
                 <hr>
                 <b class=""style="color:red">-->Agriculture and Horticulture</b>
                 <b class=""style="color:darkblue">-->Crop Management</b>
                 <b class=""style="color:red">-->Post Harvest</b>
                 <b class=""style="color:darkblue">-->Risk Management</b>
                 <b class=""style="color:red">-->Soil Health Card</b>
                 <b class=""style="color:darkblue">-->Animal Husbandary</b>
                 <b class=""style="color:red">-->Veterinary Centre</b>
                 <b class=""style="color:darkblue">-->Diagnostic Laboratory</b>
                 <b class=""style="color:red">-->Disease and Symptoms</b>
                 <b class=""style="color:darkblue">-->Health Card</b>
             
             </div>
         </div>
         <br>
         <div class="col-md-6">
             <div class="card card-body text-center border-dark" style="background-color: goldenrod; ">
               
             <h1  class="" style="background-color: aqua; font-family: fantasy; color: green;">FARMEASY'S ---- INTENSION</h1>
             <hr>
             <b style="color: black;">The basic idea of this app is to be a bridge between farmers and the government.</b>
             <p style="color: black;">Here you can signin to the respective authorities and create your account. Then you have options to share your problems,by a suitable image of the crop feild. So that we can reach your problem to the respective authorities and then request them to allocate the funds you need</p>
            </div>
            <br>
            <br>
            <br>
            
             

              
         </div>
     
         </div>
         
     </div>
        

</div>
</div>
</div>
<style>
  body{
    background-image:  url(" /static/images/back.jpg ") ; 
    
    background-size: cover;
  }
 
    img {
  border: 3px solid orangered;
}
</style>
<style>
/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 0px;
  right: 10px;
  background-color: none;
  color: red;
  padding-left: 20px;
  padding-right: 20px;
}

#preloader{
  background: url(" /static/images/h1.gif ") no-repeat  center, linear-gradient(deeppink,#009688)    ;
  
  background-size: 8%;
  height: 100vh;
  width: 100%;
position: fixed;
z-index: 100;
}


</style>


{% endblock body%}














